<!DOCTYPE html>
<html>
<head>
	<title>WeatherApp</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../script/app.js" type="text/javascript"></script>
	<script src="../script/controller/weatherCtrl.js" type="text/javascript"></script>
	<script src="../script/service/weatherService.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../style/style.css">
</head>
<body>
	<div ng-app="weatherApp" ng-controller="weatherController" style="text-align: center";>


		<form ng-submit="getWeather()">
			<input type="text" ng-model="city" placeholder="Search a city">
			<button type="submit">Search</button>
		</form>

		<div ng-If="weatherData.length != 0">
			<table align="center">
				<thead>
					<tr>
						<th>City</th>
						<td ng-If="today == item.dt_txt.split(' ')[0]" ng-repeat="item in weatherData[0].list">{{item.dt_txt.split(' ')[1]}}</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in weatherData">
						<td>{{x.city.name}}</td>
						<td ng-If="today == y.dt_txt.split(' ')[0]"" ng-repeat="y in x.list">{{y.main.temp}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>